header {
  background-color: hsl(120, 35%, 50%);
  color: #D4AF37;
  text-shadow: 4px 4px 5px #006400;
}

a {
  color: #D4AF37;
  text-shadow: 2px 2px 5px #006400;
}

body {
  background-color: #e9ffdb;
  color: hsl(120, 35%, 50%);
  text-align: center;
  font-size: 30px;
  padding: 2px;
  margin: 25px;
}
